---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout_category.astro";
import Collection from "../../components/Collection.astro";

const posts = await getCollection("posts");

const filteredPosts = posts
    .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)); // Sort by pubDate descending

---

<Layout title="All posts" >
    <!-- <p>Here is the list of all my posts.</p> -->
    <Collection posts={filteredPosts} />
    
</Layout>
