---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout_wide.astro";
import { categories, latestPostCount, favouritePostSlugs } from "../types";
import Collection from "../components/Collection.astro";
// import Layout from "../components/title.astro";

const posts = await getCollection("posts");
const latestPosts = posts
    .toSorted((p1, p2) => +p2.data.pubDate - +p1.data.pubDate)
    .slice(0, latestPostCount);

const favouritePosts = favouritePostSlugs.map(
    (slug) => posts.find((post) => post.slug === slug)).filter(Boolean);;

---

<!-- <Layout title="Hello. How are you feeling today?" isCategoryPage> -->
 <Layout title="Hello... How are you feeling today?" isCategoryPage>
    <section class="introduction">
        <img src="src/sitelogo2.png" alt="" width="400" height="400" />
        <div class="introduction-description">
            <blockquote><p><em>
                Same as always,</p>
                <p>Like some oddity floating out in cosmic space, caught on a dying planet amongst alien structures reflecting the self importance of its creators</p><br>
                <p>So too meaningless, in what is barely a blip at the tail end of casual chain along an inconceivable timescale originating from an   explosion from a distant past</p><br>
                <p>While my past bleeds into my present, as if yesterday was today, today is yesterday, all occurring simultaneously and not at all.</em></p>
            </p></blockquote>
            <!-- <p>
                I like to write about
                <a
                    href="/Writings"
                    style={{
                        "--category-dark-color": categories.Writings.color.dark,
                        "--category-light-color": categories.webdev.color.light,
                    }}>web development</a
                >,
                <a
                    href="/rust"
                    style={{
                        "--category-dark-color": categories.rust.color.dark,
                        "--category-light-color": categories.rust.color.light,
                    }}>Rust</a
                > and
                <a
                    href="/devops"
                    style={{
                        "--category-dark-color": categories.devops.color.dark,
                        "--category-light-color": categories.devops.color.light,
                    }}>DevOps</a
                >.
            </p> -->
        </div>
    </section>
    <section>
        Hi. This is where I publish writings of vignettes and snippets of texts in an autie-ethnographic style.<br>
        These are experimentations in style and format in an attempt to capture sensations of a way of being. From shifting narrative personalities, em dashes of tangential thinkings, references of echolalia to alternating forms of concurrent thoughts and marginalias that follow words to their originiating memories. 
    </section>
    <section>
        <h2>Latest posts</h2>
        <!-- <p>Here are a few of my newest posts.</p> -->
        <Collection posts={latestPosts} />
        <!-- <p>
            Subscribe to the
            <a href="/rss.xml">RSS feed</a> to always be up-to-date.
        </p> -->
    </section>
    <section>
        <h2>Favourites</h2>
        <!-- <p>Don't know what to read? Here are some of my faves.</p> -->
        <Collection posts={favouritePosts} />
        <p>Still searching? Check out <a href="/posts">all posts</a>.</p>
    </section>
</Layout>

<style>
    .introduction {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        
    }
    .introduction-description {
        padding: 1rem;
        line-height: 1.3rem;
        margin: 0;
        position: relative;
    }

    @media (max-width: 600px) {
        .introduction {
            flex-direction: column;
        }
    }
</style>
