---
// Typewriter.astro

---

<style>
.typewriter {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    color: rgba(var(--fg-dark-color), 0.85);
    position: relative;
    margin-top: 1.25rem;
    font-size: 2.75rem;
}

.text {
    display: inline-block;
    position: relative; 
}

.cursor {
    animation: blink 0.5s infinite; 
    font-size: 0.8em; 
    line-height: 1; 
    margin-left: 0.4ch;
}

@media (max-width: 600px) {
    .typewriter-container {
        overflow: visible;
        white-space: normal; 
    }

    .typewriter {
        display: block; 
        font-size: 1em; 
        width: 100%; 
        position: relative;
        align-items: baseline;
    }

    .cursor {
        animation: blink 0.5s infinite; 
        font-size: 0.8em; 
        line-height: 1; 
        margin-left: -0.2ch; 
        display: inline; 
    }
}

@keyframes blink {
    0% {
        opacity: 0; /* Fully invisible */
    }
    10% {
        opacity: 0.2; /* Slightly visible */
    }
    25% {
        opacity: 0.5; /* Half visible */
    }
    50% {
        opacity: 1; /* Fully visible */
    }
    75% {
        opacity: 0.5; /* Half visible */
    }
    90% {
        opacity: 0.3; /* Slightly visible */
    }
    100% {
        opacity: 0; /* Fully invisible */
    }
}
</style>

<div class="typewriter">
    <span class="text" id="typewriter-text" style="display: inline"></span>
    <span class="cursor", id="cursor" style = "display:none;">█</span>
</div>

<script>
const textElement = document.getElementById('typewriter-text');
const cursor = document.querySelector('.cursor');
const text = "How are you feeling today? ";
let index = 0;
console.log("Script is running");

function getRandomDelay() {
    return Math.random() * (5) + 402; 
}

function type() {
    if (index < text.length) {
        textElement.textContent += text[index];
        index++;
        cursor.style.marginLeft = "0.01"; 
        setTimeout(type, getRandomDelay());
    }
}

// Set a delay before starting the typing effect
const initialDelay = 4500; 
const textDelay  = 4000;

    // setTimeout(() => {
    //     cursor.style.display = 'inline'; 
    // }, initialDelay);

    setTimeout(() => {
        cursor.style.display = 'inline'; 
        setTimeout(() => {
            cursor.style.animation = 'blink 0.5s'; 
        setTimeout(() => {
            cursor.style.display = 'none';
        }, 500); 
        }, 23000 + initialDelay); 
    }, initialDelay);

    setTimeout(() => {
        type(); 
    }, initialDelay + textDelay);

    // setTimeout(() => {
    //     cursor.style.display = 'none'; 
    // }, 21443);

</script>